@model AllCustomersModel

@{
    ViewData["Title"] = "All Customers";
}

<h2>All Customers</h2>
<h3>Ordered in @Model.OrderDirection.ToString().ToList() direction</h3>

<table class="table">
    <thead>
    <th>
        Name
    </th>
    <th>
        BirthDay
    </th>
    <th>
        IsYoungDrver
    </th>
    </thead>
    <body>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>
                    @customer.Name
                </td>
                <td>
                    @customer.BirthDay.ToShortDateString()
                </td>
                <td>
                    @(customer.IsYoungDriver ? "YES" : "NO")
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/customers/edit/@customer.Id">Edit</a>
                </td>
            </tr>
        }
    </body>
</table>