@model SalesByCustomerVM

@{
    ViewData["Title"] = "SalesByCustomer";
}

<h1>SalesByCustomer</h1>

<table class="table">
<thead>
    <th>
        Name
    </th>
    <th>
        Bought Cars Count
    </th>
    <th>
        Total Spent Money
    </th>
</thead>
<body>
        <tr>
            <td>
                @Model.Name
            </td>
            <td>
                @Model.BoughtCarsCount
            </td>
            <td>
                @Model.TotalSpentMoney
            </td>
        </tr>   
</body>
</table>